.App {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  place-items: inherit !important;
  font-family: Montserrat,sans-serif;
}

.mainPos {
  width: 80vw;
  padding-top: 5vh;
}

p {
  margin-bottom: 0rem;
}
